[Unit]
Description=PasarGuard Node container

[Container]
ContainerName=pasarguard-node
Image=pasarguard/node:v0.3.1
Network=host
EnvironmentFile=%h/.config/pasarguard-node.env
Volume=pasarguard-node-volume.volume:/var/lib/pg-node

[Service]
Restart=always

[Install]
WantedBy=default.target
