[Unit]
Description=PasarGuard panel container

[Container]
ContainerName=pasarguard
Image=pasarguard/panel:latest
Network=host
EnvironmentFile=%h/.config/pasarguard.env
Volume=pasarguard-volume.volume:/var/lib/pasarguard:Z

[Service]
Restart=always

[Install]
WantedBy=default.target
